  <div class="step" id="first">
      <div>
        <h3>Before you begin your application</h3>
        <p>Thank you for choosing Cherished Tails to adopt your new pet! To complete your application you will need to provide:</p>

        <ol>
          <li>One personal reference, not related to you by blood or marriage, with phone numbers and email addresses we can reach them at.</li>
          <li>Phone number for your vet to verify current cats and dogs are spayed/neutered and up to date on shots</li>
          <li>If you rent, the phone number of your landlord to verify your pet policy</li>
        </ol>

      <h4>Privacy Information</h4>
      <p>Your personal information will not be shared with anyone outside of Cherished Tails. It will be used to help ensure each dog goes to a well-suited home. See our <a href="/terms">Privacy Policy</a> for details.</p>

      <h4> Current Pet Owners</h4>
      <p>Your current dogs and cats must be spayed or neutered and up to date on shots.  Proof or vet verification is required.</p>

      <h4>Adopting a dog or cat is a serious commitment.</h4>
      <p>A new pet may take several weeks or months to settle into their new home, owning a pet costs money, and a pet requires lots of attention and love. Please, seriously consider your decision to adopt. Senior dogs and cats typically will cost more in medical bills from their age. Sadly, too many dogs are adopted and returned because folks don’t think through adoption. We highly suggest that you <a href="/resources">research</a> what is best for you. </p>
      </div>
      <div class="control-group error">
      <label class="control-label"><strong>You must agree to the following terms to adopt from Cherished Tails.</strong></label>
        <div class="controls">

          <label class="checkbox ">
            <%= f.check_box :pre_q_costs, :class => "required" %>
            <span>I have reviewed the <a href='/guide#fees'>costs of adopting</a>.</span>
          </label>
          <span for="adopter[pre_q_costs]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_surrender, :class => "required" %>
            <span>If I cannot keep the dog, I will contact Cherished Tails immediately about returning the dog or cat.</span>
          </label>
          <span for="adopter[pre_q_surrender]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_abuse, :class => "required" %>
            <span>I have never been convicted of animal abuse.</span>
          </label>
          <span for="adopter[pre_q_abuse]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_limited_info, :class => "required" %>
            <span>I understand that Cherished Tails has limited information about a dog's background. All available information will be disclosed to adopters. Cherished Tails had no knowledge of the dog’s past behavior or medical history. It is understood that the dogs react differently in different environments. All provided information is based on information observed in the foster home. With different environmental factors, the dog may act differently or require an adjustment period in your home. </span>
          </label>
          <span for="adopter[pre_q_limited_info]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_breed_info, :class => "required" %>
            <span> I understand a senior dog can be an lifetime commitment, and usually costs $1,000+ per year to care for?</span>
          </label>
          <span for="adopter[pre_q_breed_info]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_reimbursement, :class => "required" %>
            <span>I understand that a rescue dog may require professional training or unexpected medical services. I understand that each dog has been examined by a veterinarian and all known medical issues will be addressed and/or disclosed to potential adopters to the best of the organization’s ability. I understand that some conditions may be dormant, not seen, or happen in the future. I understand that as an adopter, it is my financial responsibility to obtain any medical care needed once I have adopted a dog.  If a medical condition is noticed immediately following adoption, Cherished Tails must be contacted immediately if assistance is sought from the organization.  Cherished Tails will not be responsible for reimbursement of any expenses that an adopter incurs without prior consent from Cherished Tails.</span>
          </label>
          <span for="adopter[pre_q_reimbursement]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_dog_adjust, :class => "required" %>
            <span>I understand that it may take a new pet a long time to adjust to living in my home.  Each dog has been through many changes beginning with an unknown past (for most pets) to life in a shelter, to life in a foster home , and – finally - to your home. These changes can be overwhelming to any living creature. Please be patient and understand that the stress of change may cause behavior variances.  Some dogs will require professional training.</span>
          </label>
          <span for="adopter[pre_q_dog_adjust]" generated="true" class="help-inline error"></span>

          <label class="checkbox ">
            <%= f.check_box :pre_q_travel, :class => "required" %>
            <span>I understand that Cherished Tails is a foster home based program powered by volunteers.  In addition to being foster parents, the volunteers have full time jobs and committments. Please be patient with us as we try to get into contact with you. The general location of each dog is identified in their profile. It is the responsibility of a potential adopter to travel to the location of the dog for a “meet and greet” as part of the adoption process.  Cherished Tails is unable to deliver dogs to potential adopters due to limited volunteer resources. </span>
          </label>
          <span for="adopter[pre_q_travel]" generated="true" class="help-inline error"></span>

        </div>

        <h4>This form is for first time applicants only.</h4>
        <p><strong>Filling it out again will delay your application.</strong>  If anyone in your household has applied for adoption, or if you have an active application and wish to update it, please email us at <a href="mailto:cherishedtails@yahoo.com">cherishedtails@yahoo.com</a>include the name of the dog or cat you're interested in and mention that you're a repeat applicant.</p>

      </div>
  </div>
