<div class="dog-hero">
    <div class="row-fluid">
        <div class="col-10">
            <div class="container dog-hero-content pb-5">
                <h1 class="display-5">Rescue</h1>
                <p class="lead">For senior dogs & cats.</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Adoptable Dogs</a>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Apply to Adopt</a>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row pt-3 bg-lightblue px-5">
    <div class="col-12 pb-5">
        <h2 class="text-center">Our Mission</h2>
        <h5 class="text-center">Providing sanctuary to senior cats & dogs on either a temporary or permanent basis for those who find themselves homeless in their "golden years".</h5>
        <hr class="my-4">
        <h5 class="text-center">We have a combination of adoptable animals as well as those that will live out the remainder of their lives receiving love, dignity and care, either at the sanctuary facility or with our wonderful foster families. </h5>
    </div>
</div>

<div class="row pt-5">
    <div class="col-12">
        <h2 class="text-center">Take Action</h2>
    </div>
</div>
<div class="album">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-adopt.jpg", alt: "Adopt", class: "card-img-top" %>
                    <div class="card-body">
                        <h4 class="card-text text-center">Adopt</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-foster.jpg", alt: "Foster", class: "card-img-top" %>
                    <div class="card-body">
                        <h4 class="card-text text-center">Foster</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-volunteer.jpg", alt: "Volunteer", class: "card-img-top" %>
                    <div class="card-body">
                        <h4 class="card-text text-center">Volunteer</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-other.jpg", alt: "Donate", class: "card-img-top" %>
                    <div class="card-body">
                        <h4 class="card-text text-center">Donate</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-events.jpg", alt: "Events", class: "card-img-top" %>
                    <div class="card-body">
                        <h4 class="card-text text-center">Events</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <%= image_tag "get-involved-fundraise.jpg", alt: "Fundraise", class: "card-img-top" %>
                    <div class="card-body">
                        <h4 class="card-text text-center">Fundraise</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row pt-5 bg-lightblue">
    <div class="col-12">
        <h2 class="text-center">Our Impact</h2>
    </div>
</div>
<div class="row bg-lightblue text-center px-3">
    <div class="col-md-3">
        <%= image_tag("home/dogs-rescued.png", size: "200") %>
        <h2>350</h2>
        <h5>Dogs Helped</h5>
        <p>Since our founding in July 2017, Cherished Tails has rescued and helped over 350 dogs and cats in need.</p>
    </div>
    <div class="col-md-3">
        <%= image_tag("home/dogs-placed-annually.png", size: "200") %>
        <h2>250</h2>
        <h5>Dogs Adopted</h5>
        <p>Cherished Tails has found perminent, loving forever homes for 250 dogs.</p>
    </div>
    <div class="col-md-3">
        <%= image_tag("home/people-educated.png", size: "200") %>
        <h2>150</h2>
        <h5>Dentals Recieved</h5>
        <p>Nearly 60% of all animals over 7 years recieved dentals in rescue.</p>
    </div>
    <div class="col-md-3">
        <%= image_tag("home/supplies-delivered.png", size: "200") %>
        <h2>50</h2>
        <h5>Number of Animals in Sanctuary</h5>
        <p>At any given time 75% of the animals in rescue are long--term medical or sanctuary care.</p>
    </div>
</div>


<div class="row justify-content-between pt-5">
    <div class="col-sm-4 offset-1">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Stay in Touch</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-sm-4 offset-1 pt-5">
        <a href="https://www.facebook.com/cherishedtails" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/cherishedtails" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="http://instagram.com/cherished_tails_ss" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
    </div>
</div>
